CONFIG_ARM=y
CONFIG_ARCH_MX6=y
CONFIG_MX6ES1=y
CONFIG_MX6ES1BL2=y
CONFIG_MX6ES1MFG=n
CONFIG_TARGET_MX6QSABREAUTO=y
CONFIG_VIDEO=y
CONFIG_CFB_CONSOLE=n
CONFIG_SYS_EXTRA_OPTIONS="IMX_CONFIG=board/freescale/mx6sabreauto/imx6es1.cfg"
CONFIG_ENV_IS_IN_MMC=n
CONFIG_BOOTDELAY=0
CONFIG_BAUDRATE=921600
CONFIG_LDO_BYPASS_CHECK=n
# CONFIG_CONSOLE_MUX is not set
CONFIG_SYS_CONSOLE_IS_IN_ENV=n
CONFIG_SYS_CONSOLE_OVERWRITE_ROUTINE=n
CONFIG_HAVE_BLOCK_DEVICE=n
CONFIG_HUSH_PARSER=n
CONFIG_CMD_CONSOLE=n
CONFIG_CMD_BOOTZ=y
# CONFIG_CMD_IMLS is not set
# CONFIG_CMD_FLASH is not set
CONFIG_CMD_MEMTEST=n
CONFIG_CMD_MMC=n
CONFIG_CMD_I2C=n
CONFIG_CMD_USB=n
CONFIG_CMD_DFU=n
CONFIG_CMD_USB_MASS_STORAGE=n
CONFIG_CMD_GPIO=n
CONFIG_CMD_DHCP=n
CONFIG_CMD_MII=n
CONFIG_CMD_PING=n
CONFIG_CMD_CACHE=n
CONFIG_CMD_EXT2=n
CONFIG_CMD_EXT4=n
CONFIG_CMD_EXT4_WRITE=n
CONFIG_CMD_FAT=n
CONFIG_CMD_FS_GENERIC=n
CONFIG_DFU_MMC=n
CONFIG_USB=n
CONFIG_USB_STORAGE=n
CONFIG_USB_GADGET=n
CONFIG_CI_UDC=n
CONFIG_USB_GADGET_DOWNLOAD=n
CONFIG_USB_GADGET_MANUFACTURER="FSL"
CONFIG_USB_GADGET_VENDOR_NUM=0x0525
CONFIG_USB_GADGET_PRODUCT_NUM=0xa4a5
# CONFIG_VIDEO_SW_CURSOR is not set
# CONFIG_OF_LIBFDT=y

CONFIG_DEFAULT_DEVICE_TREE="imx6q-sabreauto"
CONFIG_OF_CONTROL=n
CONFIG_DM_GPIO=n
CONFIG_DM_PCA953X=n
CONFIG_DM_I2C=n
CONFIG_DM_MMC=n
CONFIG_PINCTRL=n
CONFIG_PINCTRL_IMX6=n
CONFIG_DM_PMIC=n
CONFIG_DM_PMIC_PFUZE100=n
CONFIG_DM_REGULATOR=n
CONFIG_DM_REGULATOR_PFUZE100=n
CONFIG_DM_REGULATOR_FIXED=n
CONFIG_DM_REGULATOR_GPIO=n
CONFIG_DM_ETH=n
CONFIG_DM_USB=n

CONFIG_CMD_FASTBOOT=n
CONFIG_USB_FUNCTION_FASTBOOT=n
CONFIG_FSL_FASTBOOT=n
CONFIG_FASTBOOT=n
CONFIG_FASTBOOT_BUF_ADDR=0x12C00000
CONFIG_FASTBOOT_BUF_SIZE=0x40000000
CONFIG_FASTBOOT_FLASH=n
CONFIG_FASTBOOT_FLASH_MMC_DEV=1
CONFIG_EFI_PARTITION=n
